.post-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.post-item h3 {
  margin: 0 0 0.25rem 0;
}

.post-item .item {
  width: 90%;
}

.post-item .actions {
  width: 10%;
  font-weight: 100;
}

.description {
  font-style: italic;
}

button.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  margin-left: 0.1rem;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-weight: normal;
}