.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.win {
    color: green;
}

.loose {
    color: red;
}

.draw {
    color: #c5c500;
}

.profile-items {
    margin-bottom: 7px;
}